{% extends "base.html" %}
{% block content %}
<div class = "row" id="content">
	<div class = "row" id="content">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row">
				<h1 class="text-center">Welcome to the world's tablebase</h1><br>
				<p class= "text-justify">
					People find my explanations tedious (I am boring to talk to). So I will use bullet points as an attempt for conciseness, in explaining why I am attempting Supalist: 
				</p>
					<ul class="explanations">
						<li>OBJECTIVITY. We don't understand the world. Wikiped, Linkedi, Twit, FB, Quor, eHOW, etc all use explanations/ paragraphs. Lists should have QUANTITATIVE data. Qualitative analysis should be sectioned separately, as our views and ideas grow and change.</li>
						<li>I think that lists are useful in millions of situations. Its how we analyze things in our heads. It removes subjectivity - I don't have to go through articles desrcibing the "best" or "coolest" or "greatest" things anymore. I can rank universities/ buildings/ countries/ temperatures/ anything! on criteria I am concerned about in a million different instances.</li>
						<li>I often click only the first or second entry on a google results list - even though there are millions. This only takes me to the answer I need some of the time.</li>
						<li>In 7 out of 10 searches I do, the answer I would prefer is a list of information, ordered in some manner, where I can play around with the order of various criteria and mull things over. 
						I have searched for this, and have not found such a resource online: instead I find 'Buzzfeed-type' articles/youtube videos usually occupy the space where I require objective list results. (Eg. 10 best laptops of 2017).</li>
						<li>I would like to order the lists myself on my own set of criteria (in the way you can do so on an SQL database. Eg. Show laptops for sale in 
						Chicago under $800 with x processor and x graphics card that have more than 30 upvotes. Order by 1: Dist from Chicago, 2: Price increasing, 3: Upvotes, 4: Graphics card, etc</li>
						<li>I cannot make billions of lists... and Jimmy Wales coulgn't write millions of articles. That is, Supalist will work on the concept of USER GENERATED CONTENT.</li>
						<li>In a world's first, I have combined the word "Table" with "Database" to form: Tablebase! Edgy.</li>
					</ul><br>
				<hr>

				<h1 class="text-center">My view on advertising</h1><br>
					<ul class="explanations">
		                <li>Jimmy Wales has no ads but puts on a sad face and begs for cash</li>
		                <li>FB & Twit are sneaky, making ads look like content</li>
		                <li>I know that ads are not bad in themselves, but sneaky/ irrelevant/ distracting ads are</li>
		                <li>I know that ads are not content, so I won't try pretend they are content, they will stay separate, on the side</li>
		                <li>Ads pay the bills</li>
		                <li>I know that accurate, relevant ads are useful & welcomed (they are many products and services that may be useful to me (I am not an island)</li>
		                <li>I have to use 3rd party ad platforms for revenue for now, until I know how to make my own ads platform with that are useful to both users of Supalist, and the advertizers.</li>
		              </ul><br>

		        <hr>




	            <h1 class="text-center">Other relevant points</h1><br>
					<ul class="explanations">
		                <li>This is a work in progress - I am not a software developer (ie. I apologise for a shitty product - it should get better with time)</li>
		                <li>Conceptually, if successful, this should grow like Wikipedia (lots of false stuff, but eventually the truth filters through). Put less subtly: Anyone can write any list they want... unless it's about Nickelback.</li>
		                <li>On the to do list:
		                	<ol>
			                	<li>Have a discussion page for every entry, heading, table</li>
			                	<li>Ranking (upvotes of some sort, weighted like reddit?)</li>
			                	<li>Rank the rankers - some people's ratings are better than others</li>
		                	</ol>
		                </li>
		                <li>Make mobile apps - hopefully someone can help with this?</li>
		                <li>Automate data entry - like bring in data using APIs from like, Forbes, Zillow, Crunchbase, etc</li>
		            </ul><br>
            </div>
			<div class="row">

			</div>
			<div class="row text-center">
				<a href=""{{url_for('Home')}}"" class="btn btn-primary">HOME</a>
			</div><br>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock%}
