{% extends "base.html" %}
{% block content %}

<div class = "row" id="content">
	<div class = "row" id="content">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row text-center">
				<h1 class = "styled-like-supalist">{{lname}}</h1>
				<h2 class = "styled-like-supalist">ADD COLUMN</h2>
			</div>
			<hr>
		
			<form action = "{{url_for('AddColumn', list_id = list_id)}}" method = 'POST'>
				<div class="row">
					<div class = "col-md-6">
						<div class="form-group">
							<label >Column Name</label>
							<input type="text" class="form-control" name = "namer" id="exampleInputEmail1" placeholder="Column name">
							<!-- <span class="help-block">E.G. If you wanted to add a column for middle name, for the 'people' list, the name would be: 'Middle Name'</span> -->
							<small id="emailHelp" class="form-text text-muted">E.G. If you wanted to add a column for middle name, for the 'people' list, the name would be: 'Middle Name'</small><br>
						</div>
						<div class="form-group ">
							<label for="comment">Description</label>
							<textarea class="form-control " rows="8" id="comment" name = "desc"></textarea>
						</div>	
					</div>
					<div class = "col-md-1">
						<span class = "col-md-1"></span>
					</div>

					<div class = "col-md-6">
						<div class="form-group">
							<label >Data Type</label>
							<!-- <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Keyword  1"> -->
							<label for="sel1">(select one):</label>
							<select class="form-control" id="sel1" name="data_type">
								{% for tuple in data_types %}
									<option value = "{{tuple[0]}}">{{tuple[1]}}</option>
								{% endfor %}
								<!--<option value = "0">1 - Short Text</option>
								<option  value = "1">2 - Long Text</option>
								<option  value = "2">3 - Date</option>
								<option  value = "3">4 - Date and Time</option>
								<option  value = "4">5 - Boolean(True/False)</option>
								<option  value = "5">6 - Time</option>
								<option  value = "6">7 - Duration</option>
								<option  value = "7">8 - Two Decimal (Eg, currency)</option>
								<option  value = "8">9 - High Precision (Many decimals)</option>-->
							</select>
							<!-- <span class="help-block">E.G. If you wanted to add a column for middle name, for the 'people' list, the name would be: 'Middle Name'</span> -->
							<small id="emailHelp" class="form-text text-muted">E.G. If your heading is a date, choose date. If it is a name, choose short text, etc</small></div><span class = "col-md-1"></span>
						</div>

						<div class="form-group col-md-6">
							<label >Column Keyword (2 Optional)</label>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="No keywords yet, leave blank for now...">
						</div><span class = "col-md-1"></span>

						<div class="form-group col-md-6">
							<label >Column Keyword (3 Optional)</label><br>
							<span class = "col-md-3"></span>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Keywords won't be recorded.">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<button type="submit" class="btn btn-primary col-md-2">ADD COLUMN</button>
						<span class = "col-md-8"></span>
						<a href="{{url_for('QueryList', list_id = list_id)}}" class = "btn btn-primary col-md-2">CANCEL</a>
					</div>
				</div>
			</form>
			
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock %}


