{% extends "base.html" %}
{% block content %}

<div class = "row" id="content">
	<div class = "row" id="content">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row text-center">
				<h1 class = "styled-like-supalist">EDIT {{lname}},  l_id: {{list_id}}</h1>
				<h3 class = "styled-like-supalist">(Hopefully to increase value to many people on the planet who use this list)</h3>
			</div>
			<hr>
		
			<form action = '#' method = 'POST'>
				<div class="row">
					<div class = "col-md-6">
						<div class="form-group">
							<label >List Name</label>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="{{lname}}">
							<!-- <span class="help-block">E.G. If you wanted to add a List for middle name, for the 'people' list, the name would be: 'Middle Name'</span> -->
							<small id="emailHelp" class="form-text text-muted">Edit the name of the list (try keep it to a single noun, eg: 'fish'</small><br>
						</div>
						<div class="form-group ">
							<label for="comment">Description</label>
							<textarea class="form-control " rows="8" id="comment" placeholder="list['description'] will go here "></textarea>
						</div>	
					</div>
					<div class = "col-md-1">
						<span class = "col-md-1"></span>
					</div>

					<div class = "col-md-6">
						<div class="form-group">
							<label >List Keyword (1)</label>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="List Keyword 1">
							<!-- <span class="help-block">E.G. If you wanted to add a List for middle name, for the 'people' list, the name would be: 'Middle Name'</span> -->
							<small id="emailHelp" class="form-text text-muted">These should generally only be modified to enhance searchability of the list by users of Supalist. </small></div><span class = "col-md-1"></span>
						</div>

						<div class="form-group col-md-6">
							<label >List Keyword (2 Optional)</label>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Keyword 2">
						</div><span class = "col-md-1"></span>

						<div class="form-group col-md-6">
							<label >List Keyword (3 Optional)</label><br>
							<span class = "col-md-3"></span>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Keyword 3">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<button type="submit" class="btn btn-primary col-md-2">COMPLETE</button>
						<span class = "col-md-8"></span>
						<a href="{{url_for('QueryList', list_id = list_id)}}" class = "btn btn-primary col-md-2">CANCEL</a>
					</div>
				</div>
			</form>

			<form action = "{{url_for('EditColumn', list_id = list_id)}}" method = "POST">
				<div class="row text-center">
					<h3 class="styled-like-supalist">Or, select a list heading to edit: </h3>
						<div class="form-group col-md-7">
							<select class="form-control" id="id_of_col" name="id_of_col">
								<option value = "1">First Name</option>
								<option value = "2">Location</option>
								<option value = "3">Last Name</option>
								<option value = "4">Net Worth</option>
							</select>
						</div>
						<div class="form-group col-md-5">
							<button type="submit" class="btn btn-primary col-md-5">EDIT HEADING</button>
					</div>	
			</form>



			
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock %}


