{% extends "base.html" %}
{% block content %}

<!-- THE POINT OF THIS <style> IS FOR THE POPUP ON THE DELETE BUTTONS _ MAKE NEATER LATER-->
<style>
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
</style>




<div class = "row" id="content">
	<div class = "row" id="content">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row text-center">
				<h1 class = "styled-like-supalist">{{list_name}} ID: {{list_id}}</h1>
				<h2 class = "styled-like-supalist">EDIT COLUMN: {{heading.name}}</h2>
			</div>
			<hr>
		
			<form action = '#' method = 'POST'>
				<div class="row">
					<div class = "col-md-6">
						<div class="form-group">
							<label >Column Name</label>
							<input type="text" class="form-control" id="exampleInputEmail1" name = "namer" value="{{heading.name}}">
							<!-- <span class="help-block">E.G. If you wanted to add a column for middle name, for the 'people' list, the name would be: 'Middle Name'</span> -->
							<small id="emailHelp" class="form-text text-muted">E.G. If you wanted to add a column for middle name, for the 'people' list, the name would be: 'Middle Name'</small><br>
						</div>
						<div class="form-group ">
							<label for="comment">Description</label>
							<textarea class="form-control " rows="8" id="comment" name="desc">{{heading.description}}</textarea>
						</div>	
					</div>
					<div class = "col-md-1">
						<span class = "col-md-1"></span>
					</div>

					<div class = "col-md-6">
						<div class="form-group">
							<label >Data Type: {{data_type_dict[heading.entry_data_type]}}</label>
							<p>NOTE: YOU CANNOT CHANGE THE DATA TYPE, AS THIS WILL AFFECT ALL OTHER ENTRIES IN THE LIST. RATHER ADD A NEW COLUMN WITH
							THE DESIRED DATA TYPE</p>
							<!-- <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Keyword  1"> 
							<label for="sel1">(select one):</label>
							<select class="form-control" id="sel1" name="data_type">
								{% for key in data_type_dict %}
									{% if heading.entry_data_type ==  key %} 
									<option value = "{{key}}" selected>{{data_type_dict[key]}}</option>
									{% else %}
									<option value = "{{key}}">{{data_type_dict[key]}}</option>
									{% endif %}
								{% endfor %}
							</select>
							<span class="help-block">E.G. If you wanted to add a column for middle name, for the 'people' list, the name would be: 'Middle Name'</span>
							<small id="emailHelp" class="form-text text-muted">E.G. If your heading is a date, choose date. If it is a name, choose short text, etc</small>

						<span class = "col-md-1"></span>--></div>
						<br>


						<div class="form-group col-md-12">
							<label >Column Keyword (2 Optional)</label>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Keyword 2">
						</div><span class = "col-md-6"></span>
						<br>
						<div class="form-group col-md-12">
							<label >Column Keyword (3 Optional)</label><br>
							<span class = "col-md-6"></span>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Keyword 3">
						</div>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<button type="submit" class="btn btn-primary col-md-2">Submit Edits</button>
						<span class = "col-md-2"></span>



						
						{% if deletable_h == true %}
							<a href="{{url_for('DeleteColumn', list_id = list_id, col_id = heading.id)}}" class = "btn btn-primary col-md-4">DELETE COLUMN</a>
						{% else %}
							<div class="popup col-md-2" onclick="myFunction()">
								<a href="#" class = "btn btn-primary ">DELETE COLUMN</a><span class = "col-md-4"></span>	
								<span class="popuptext col-md-3" id="myPopup">Only creators can delete the headings they made, but you can edit it.</span>
							</div>
						{% endif %}





						<span class = "col-md-2"></span>
						<a href="{{url_for('QueryList', list_id = list_id)}}" class = "btn btn-primary col-md-2">CANCEL</a>
					</div>

				</div>
			</form>
			<div class="row">&nbsp </div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>


<!-- THE POINT OF THIS <script> IS FOR THE POPUP ON THE DELETE BUTTONS _ MAKE NEATER LATER-->
<script>
// When the user clicks on div, open the popup
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>


{% endblock %}


