{% extends "base.html" %}
{% block content %}
<div class = "row" id="content">
	<div class = "row" id="content">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row text-center">
				<h1 class = "styled-like-supalist"> {{li_2_edit.name}} </h1>
				<h2 class = "styled-like-supalist  bold">EDIT THIS ENTRY !!!</h2>
			<form action = "{{url_for('EditRow', list_id = li_2_edit.id, row_id = row_2_edit.id)}}" method = 'POST'>
				<table class="table table-bordered"><!-- table-condensed-->
					<thead>
						<tr>
							{% for h in headings %}
							<th>{{h.name}}</th>
							{% endfor %}
						</tr>
					</thead>

			
					<tbody>
						<tr>{% for e in range(0, headings|length) %}	
								{% if e < (entries|length) %}	
							<td>
								<div class="form-group">
								<input type="text" class="form-control" name = "h_{{headings[e].name}}" id="exampleInputEmail1" value="{{entries[e][1].entry}}">
								<!-- <span class = "col-md-1"></span> -->
								</div>
							</td>
								{% else %}
							<td>
								<div class="form-group">
								<input type="text" class="form-control" name = "{{headings[e].name}}" id="exampleInputEmail1" placeholder="Novyet,{{e}},-{{entries|length}}">
								<!-- <span class = "col-md-1"></span> -->
								</div>
							</td>
								{% endif %}
							{% endfor %}
						</tr>
					</tbody>
				</table>
				<br>

			</div>
			<div class="row"><br>
				<a href="{{url_for('QueryList', list_id = li_2_edit.id)}}" class = "btn btn-primary col-md-2">CANCEL</a><span class = "col-md-8"></span>
				<button type="submit" class="btn btn-primary col-md-2">Submit Edit</button>
			</div>
			</form>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock %}