{% extends "base.html" %}
{% block content %}

<div class = "row" id="content">
	<div class = "row" id="content">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="row text-center">
				<h1 class = "styled-like-supalist">CREATE A NEW LIST</h1>
				<h3 class = "styled-like-supalist">(Which should add value to many people on the planet)</h3>
			</div>
			<hr>
		
			<form action = "{{url_for('NewList')}}" method = 'POST'>
				<div class="row">
					<div class = "col-md-6">
						<div class="form-group">
							<label >List Name</label>
							<input type="text" class="form-control" id="Onamer" name="namer" placeholder="List name">
							<!-- <span class="help-block">E.G. If you wanted to add a List for middle name, for the 'people' list, the name would be: 'Middle Name'</span> -->
							<small id="emailHelp" class="form-text text-muted">E.G. If you wanted to add a List of fish (to track endangered vs not, for eg) the name would be: 'Fish'</small><br>
						</div>
						<div class="form-group ">
							<label for="comment">Description</label>
							<textarea class="form-control " rows="8" id="Odesc" name="desc" placeholder="E.G. This list will contain all fish on the planet (not individual fish, but all species, and categories). The list can be filtered depending on what you want to find from it. Filter according to location, endangered list, size, prey, food, anything that someone makes a column for..."></textarea>
						</div>	
					</div>
					<div class = "col-md-1">
						<span class = "col-md-1"></span>
					</div>

					<div class = "col-md-6">
						<div class="form-group">
							<label >List Keyword (1)</label>
							<input type="text" class="form-control" id="Okw1" name = "kw1" placeholder="Keyword  1">
							<!-- <span class="help-block">E.G. If you wanted to add a List for middle name, for the 'people' list, the name would be: 'Middle Name'</span> -->
							<small id="emailHelp" class="form-text text-muted">E.G. If you wanted to a fish list, keywords could include: 'Seas', 'Food', 'Vertebrates'</small></div><span class = "col-md-1"></span>
						</div>

						<div class="form-group col-md-6">
							<label >List Keyword (2 Optional)</label>
							<input type="text" class="form-control" id="Okw2" name = "kw2" placeholder="Keyword 2">
						</div><span class = "col-md-1"></span>

						<div class="form-group col-md-6">
							<label >List Keyword (3 Optional)</label><br>
							<span class = "col-md-3"></span>
							<input type="text" class="form-control" id="OexampleInputEmail1" name = "kw3" placeholder="Keyword 3">
						</div>
					</div>
				</div>
				<br>
				<br>
				<div class="row">
					<div class="form-group">
					<br>&nbsp
					<br>&nbsp
						<span class = "col-md-2"></span>
						<button type="submit" class="btn btn-primary col-md-2">CREATE LIST</button>
						<span class = "col-md-5"></span>
						<a href="{{url_for('Home')}}" class = "btn btn-primary col-md-2">CANCEL</a>
					</div>
				</div>
			</form>
			<br>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock %}


